.header-bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.9);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4);
  z-index: $headerZ;
  .header-content {
    width: 100%;
  }
  .flex-link {
    display: flex;
    flex: 1;
  }
  &.hamburger-open {
    display: flex;
    flex-direction: column;
    height: calc(#{$headerHeight} * 2);
    .container.top-section {
      position: static;
      flex: 1;
      display: flex;
    }
    .container.mobile-option {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
    .hamburger {
      opacity: 0.3;
      img {
        margin-bottom: 0;
      }
    }
    .left-section, .right-section {
      flex: 1;
      justify-content: center;
      display: flex;
      opacity: 1;
      transition: all 1s ease;
    }
    .left-section {
      align-self: flex-start;
    }
    .right-section {
      align-self: flex-end;
    }
  }
  @media only screen and (min-device-width: 300px) {
    min-height: 100px;
    .container {
      margin-top: 1%;
    }
    .hamburger {
      display: flex;
      transition: all 1s ease;
      opacity: 1;
      cursor: pointer;
    }
    .header-content {
      display: flex;
      padding: 20px 0;
    }
    .pig-link {
      img {
        display: none;
      }
    }
    .full-link {
      display: none;
    }
  }
  .container.top-section {
    position: relative;
    top: 30%;
  }
  .pig-link {
    img {
      margin: (-15px) 15px -5px 0;
      vertical-align: middle;
      @media only screen and (min-device-width: 800px) {
        display: inline-block;
      }
    }
  }
  @media only screen and (min-device-width: 800px) {
    .container {
      margin-top: 0;
    }
    .header-content {
      display: flex;
      flex: 1;
      flex-direction: row;
      padding: 30px 0;
    }
    .left-section, .right-section {
      display: flex;
      .flex-link {
        display: flex;
        flex: 1;
        align-items: flex-end;
      }
    }
  }
  .left-section {
    flex: 1;
    justify-content: flex-start;
  }
  .right-section {
    flex: 0.5;
    align-self: center;
    justify-content: flex-end;
    .flex-link {
      justify-content: flex-end;
    }
    @media only screen and (min-width: $medium) and (min-device-width: 800px) {
      .hamburger {
        display: none;
      }
    }
    @media only screen and (max-width: $medium) and (min-device-width: 800px) {
      .full-link {
        display: none;
      }
    }
  }
  .hamburger, .header-content, .left-section, .right-section, .full-link {
    transition: all 1s ease;
  }
  &.hamburger-open {
    @media (min-device-width: 300px) {
      .hamburger {
        opacity: 0.3;
        flex: 0.5;
        height: 24px;
        width: 40px;
      }
      .header-content {
        flex-direction: column;
        padding-top: 0;
      }
      .left-section {
        display: none;
        flex: 0;
      }
      .right-section {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        flex: 1;
        margin-top: 10px;
        .flex-link {
          display: flex;
          margin: 10px 0;
          a {
            margin-right: 0;
          }
        }
      }
    }
  }
  a {
    font-size: 200%;
    &:link, &:visited {
      color: white;
    }
    &:hover {
      color: $lightPink;
      text-decoration: none;
    }
    margin-right: 15px;
  }
}

.header-spacer {
  height: $headerHeight;
}