@mixin mobile-styles
  .big-screen
    display: none !important
  .med-and-up
    display: none !important
  .mobile-section
    margin-top: -100px
    text-align: center !important
  .right-bar, .left-bar
    border: none !important
  .top_buffer
    height: 20px !important
  .bottom-sidebar
    ul li
      text-align: center
    h1
      text-align: center
    margin-bottom: 30px
  .mobile-only
    display: block !important
    &.thick-bar
      border-top: 5px solid #333
      margin-top: 30px
      margin-bottom: 30px
      width: 90%
      margin-left: 5%
    img.port_photo
      width: 100% !important
    ul.port_list
      li.mobile
        padding: 8px
        background: lighten(#333, 50)
        font-style: normal
        font-weight: bold
        font-size: 100%
        color: lighten(black, 5)
        text-align: center !important
        margin-right: 0 !important
        &:hover
          background: lighten(#333, 60)