body, div, img, p, ol, em, input, small, br, strong, code, span, a, ul, li, td, th, h1, h2, h3, h4, h5, h6, label {
  text-align: left;
  &::selection {
    background: $lightPink;
    color: white;
  }
  &::moz-selection {
    background: $lightPink;
    color: white;
  }
}

p, a, label, input, li, i {
  @include responsiveFont($p);
  line-height: #{$p * 1.7};
}

small {
  @include responsiveFont($smallFont);
}

h5 {
  @include responsiveFont($h5);
}
h4 {
  @include responsiveFont($h4);
}

h3 {
  @include responsiveFont($h3);
}

h2 {
  @include responsiveFont($h2);
}

h1 {
  @include responsiveFont($h1);
}

p {
  font-family: Gotham-Light;
}

ol, em, small, ul, li, td, th, h1, h2, h3, h4, h5, h6, label, a {
  font-family: Gotham;
}

h1, h2 {
  font-family: Gotham-Ultra;
}

strong {
  font-family: Gotham-Bold;
}

li {
  small {
    font-family: Gotham-Bold;
  }
}

/* custom weight and style */

.unbold {
  font-family: "Gotham";
}

.bold {
  font-family: "Gotham-Bold";
}

.italic {
  font-family: "Gotham-Italic";
}

/* links */

a {
  font-weight: bold;
  color: #1e3c89;
  &:hover {
    color: $lightPink;
    background: transparent;
    text-decoration: underline;
  }
}

.paragraph {
  p {
    font-family: "Gotham-Light";
    a {
      font-family: "Gotham";
      font-weight: normal;
    }
  }
}

.blue-links {
  a {
    strong {
      color: $electricBlue;
    }
  }
}

.black-links {
  a {
    color: black;
    &:hover {
      color: $lightPink;
    }
  }
}

a.undecorated {
  text-decoration: none;
}

.undecorated {
  a {
    text-decoration: none;
  }
}