// Heights
$headerHeight: 100px;
$headerZ: 65;
$skillsZ: 75;

// Dimensions
$large: 1000px;
$medium: 800px;
$small: 600px;
$mobile: 450px;

// Colors
$maroon: #8a0b0b;

$lightPink: #ff8686;
$darkPink: darken($lightPink, 20);

$electricBlue: #1871bc;
$lightBlue: lighten($electricBlue, 15);
$darkBlue: darken($electricBlue, 15);

$lightGray: #eee;

$smallFont: 0.8;
$p: 0.9;
$h5: 1.2;
$h4: 1.4;
$h3: 1.6;
$h2: 1.8;
$h1: 2;

$medMult: 1.1;
$smallMult: 1.2;