// Heights
$headerHeight: 100px;
$headerZ: 65;
$skillsZ: 75;

// Dimensions
$medium: 800px;
$small: 600px;
$large: 1000px;

// Colors
$maroon: #8a0b0b;

$lightPink: #ff8686;
$darkPink: darken($lightPink, 20);

$electricBlue: #1871bc;
$lightBlue: lighten($electricBlue, 15);
$darkBlue: darken($electricBlue, 15);

$lightGray: #eee;