- styles = 'font-size: 150%'
%h1.squeeze Education
%accordion
  - @education_items.ordered.each do |item|
    - if item.collapse == "dont"
      .collapse-title{ style: styles }
        = item.title
        %small= item.subtitle
      .inset
        - item.paragraphs.each do |paragraph|
          %p.blue_links= raw paragraph
    - else
      = render "item_collapse", { item: item, styles: styles, isopen: item.starts_open }