.headshot_box
  .headshot= image_tag('headshot.png')
  .link_icons
    %a{ href: 'https://www.github.com/sashafklein' }
      %i.icon-github
      Github
    %a{ href: '/contact' }
      %i.icon-envelope-alt
      Contact