- styles ||= ''

%accordion_group
  %accordion_heading
    .collapse-title{ style: styles, is_open: 'isopen' }
      = item.title
      %small
        = item.subtitle
        %i{ ng_class: "{'icon-minus-sign': isopen, 'icon-plus-sign': !isopen}" }
  - item.paragraphs.each do |paragraph|
    %p= raw paragraph