- styles = 'font-size: 100%;height:35px'
%h1.squeeze Work Experience
.inset.experience.blue_links
  %accordion
    - @jobs.ordered.each do |job| 
      - if job.link.present?
        .collapse-title{ style: styles + ';margin-top:7px'}
          %a.blue_links{ href: job.link }
            %span{style: "font-size:105%"}= job.title
            %small{style: "color:#88b0d2;"} 
              = job.subtitle 
            >>
      - else
        = render 'item_collapse', { item: job, styles: styles, isopen: job.starts_open }