%h1.squeeze.skillset.center-mobile Tech Skills
.skillz
  - @skills.each do |skill|
    .skill
      .three.columns
        %a.skill_links.not= skill.name 
      .two.columns  
        = render 'stars', num: skill.stars