%h1.squeeze.skillset.center-mobile Tech Skills
.skillz.med-and-up
  - @skills.each do |skill|
    .skill
      .three.columns
        = link_to skill.name, '', skill.link_options
      .two.columns  
        = render 'stars', num: skill.stars

.skillz.mobile-only
  - @skills.each do |skill|
    .skill
      .seven.columns
        = link_to skill.name, '', skill.link_options
      .seven.columns  
        = render 'stars', num: skill.stars
