.skillz
	%table
		- @skills.each do |skill|
			%tr 
				%td 
					%a.skill_links{ class: has_link?(skill), href: link_value(skill), title: skill.tooltip}= skill.name 
				%td= render 'stars', num: skill.stars