%h1.squeeze.skillset Skillset
.skillz
  - @skills.each do |skill|
    .three.columns
      %a.skill_links{ class: has_link?(skill), href: link_value(skill), title: skill.tooltip}= skill.name 
    .two.columns  
      = render 'stars', num: skill.stars