.landing-buttons.mobile.mobile-only.mobile-landing-buttons
  - landing_links( current_user ).each do |link|
    = landing_button( link )
.landing-buttons.med-and-up
  - landing_links( current_user ).each do |link|
    = landing_button( link )