- provide(:title, 'Resume')

.row.container.sixteen.columns.undecorated{ ng_controller: 'ResumeCtrl' }
  .six.columns.right-bar.med-and-up
    = render "headshot"
    = render "skills"

  .nine.columns.mobile-section.blue_links
    %h1.squeeze Work Experience
    %accordion
      .inset.experience
        - @jobs.each do |job|
          = render 'resume_item', item: job

      %br
      
      %h1.squeeze Education
      %accordion
        .inset.education
        - @education_items.each do |school|
          = render 'resume_item', item: school