- provide(:title, 'Resume')

.row.container.sixteen.columns.undecorated

  .six.columns.right-bar
    = render "headshot"
    = render "skills"

  .nine.columns
    = render "education"
    = render 'jobs'