- provide(:title, 'Resume')

.row.container.sixteen.columns.undecorated{ ng_controller: 'ResumeCtrl' }
  .six.columns.right-bar.med-and-up
    = render "headshot"
    = render "skills"

  .nine.columns.mobile-section
    = render "education"
    = render 'jobs'