.portfolio {
  margin-top: 50px;
  .portfolio-item {
    padding: 60px 0;

    &:nth-child(even) {
      background-color: $lightGray;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
  .port-header {
    h1 {
      margin-top: 20px;
    }
    &.linked {
      cursor: pointer;
      &:hover {
        h1 {
          color: $electricBlue;
        }
        h2 {
          color: lighten($electricBlue, 10);
        }
      }
    }
  }
  h1 {
    margin-bottom: 0px;
    &.for-mobile {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  h2 {
    margin-bottom: 12px;
    margin-top: 12px;
  }
  .not-top {
    .left-bar {
      margin-top: 30px;
      h1 {
        margin-top: -3px;
      }
    }
  }
  .black-links {
    .port-photo {
      border: 5px solid black;
      min-height: 150px;
      margin-bottom: 10px;
      &:hover {
        border: 5px solid $lightPink;
      }
    }
  }
  .port-list {
    li {
      text-align: center;
      padding: 10px 0;
      font-family: Montserrat;
      font-weight: 600;
      font-size: 14px;
      &:hover {
        background-color: lighten($electricBlue, 53);
      }
    }
  }
}