$textAndBorder: lighten(#333333, 5)

body.landing
  height: 100%
  width: 100%
  position: absolute
  top: 0
  left: 0
  #landing_buttons
    position: absolute
    margin: auto
    width: 80%
    height: 20%
    top: 40vh
    left: 10vw
    .landing_button
      position: absolute
      background-color: $textAndBorder
      width: 29%
      padding: 0.5vw
      display: inline-block
      text-align: center
      vertical-align: middle
      .inner-text
        text-align: center
        background-color: white
        padding: 18% 0 18% 0
        a
          text-decoration: none
          font-size: 3.7vw
          font-weight: bold
          padding: 4vw 0 4vw 0
          color: $textAndBorder
          vertical-align: middle
          text-align: center
      &.first
        left: 0
      &.second
        left: 34.5%
      &.third
        left: 69%
      &:hover
        cursor: pointer
        .inner-text
          background-color: $pigPink
          a
            color: white
      &:active
        .inner-text
          background-color: lighten($sexyBlue, 25)
          a
            color: white