.portfolio
  .portstuff
    a 
      color: $blue_link
    h1
      margin-bottom: 0px
    h2
      margin-bottom: 12px
    .not-top
      .left-bar
        margin-top: 30px
        h1
          margin-top: -3px
      .black_links
        margin-top: 20px
    .black_links
      .port_photo
        border: 5px solid black
        margin-bottom: 10px
        width: 90%
        &:hover
          border: 5px solid $pigPink
    .port_list
      li
        font-family: Futura Bold
        clear: left
        font-size: 110%
        line-height: 35px
        font-style: italic
        text-align: right
        margin-right: 10%
    .header-spacer
      height: 90px