.resume
  .right-bar
    padding-right: 8px
    margin-right: 6px
  .span7
    h1.squeeze
      margin-top: -3px
  .skillz
    text-align: center
    table
      width: 100%
      margin: auto
    font-size: 115%
    td
      height: 30px
      text-align: right
  .stars
    img
      float: left
      width: 13px

  .skillset
    text-align: right
    margin-right: 20px
  .skill_links
    color: black
    font-family: 'Rockwell'
    font-size: 90%
    font-weight: normal
  .skill_links.not
    &:hover
      color: black
      cursor: default
      text-decoration: none
  
  .experience
    h3
      line-height: 20px
      margin-top: 0px
  
  .headshot_box
    padding: 0px 0 20px 2px
    margin-right: 20px
    .link_icons
      font-size: 90%
      margin: 10px 0 20px 0
      text-align: right
      a
        color: $blue_link
      img
        margin: 0 4px 0 8px
    .headshot
      text-align: right
      img
        width: 85%
        border: 5px solid $heavyGray