.row.container.wiki
	.container.centerify
		- @wiki.topics.each do |t|
			%h2 #{t.name}
			- t.notes.each do |n|
				.inset
					%h4
						%b #{n.name}:
						= n.info
			%br
		= safe_link_to "Add/Edit", edit_wiki_path(@wiki)