.header-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(1, 1, 1, 0.9);
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.4);
    z-index: 20;
}

.header-bar .header-content {
    width: 100%;
}

.header-bar .flex-link {
    display: flex;
    flex: 1;
}

.header-bar.hamburger-open {
    display: flex;
    flex-direction: column;
}

.header-bar.hamburger-open .container.top-section {
    position: static;
    flex: 1;
    display: flex;
}

.header-bar.hamburger-open .container.mobile-option {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.header-bar.hamburger-open .hamburger {
    opacity: 0.3;
}

.header-bar.hamburger-open .hamburger img {
    margin-bottom: 0;
}

.header-bar.hamburger-open .left-section, .header-bar.hamburger-open .right-section {
    flex: 1;
    justify-content: center;
    display: flex;
    opacity: 1;
    transition: all 1s ease;
}

.header-bar.hamburger-open .left-section {
    align-self: flex-start;
}

.header-bar.hamburger-open .right-section {
    align-self: flex-end;
}

@media only screen and (min-device-width: 300px) {
    .header-bar {
        min-height: 100px;
    }
    .header-bar .container {
        margin-top: 1%;
    }
    .header-bar .hamburger {
        display: flex;
        transition: all 1s ease;
        opacity: 1;
        cursor: pointer;
    }
    .header-bar .header-content {
        display: flex;
        padding: 20px 0;
    }
    .header-bar .pig-link img {
        display: none;
    }
    .header-bar .full-link {
        display: none;
    }
}

.header-bar .container.top-section {
    position: relative;
    top: 30%;
}

.header-bar .pig-link img {
    margin: -15px 15px -5px 0;
    vertical-align: middle;
}

@media only screen and (min-device-width: 800px) {
    .header-bar .pig-link img {
        display: inline-block;
    }
}

@media only screen and (min-device-width: 800px) {
    .header-bar .container {
        margin-top: 0;
    }
    .header-bar .header-content {
        display: flex;
        flex: 1;
        flex-direction: row;
        padding: 30px 0;
    }
    .header-bar .left-section, .header-bar .right-section {
        display: flex;
    }
    .header-bar .left-section .flex-link, .header-bar .right-section .flex-link {
        display: flex;
        flex: 1;
        align-items: flex-end;
    }
}

.header-bar .left-section {
    flex: 1;
    justify-content: flex-start;
}

.header-bar .right-section {
    flex: 0.5;
    align-self: center;
    justify-content: flex-end;
}

.header-bar .right-section .flex-link {
    justify-content: flex-end;
}

@media only screen and (min-width: 111) and (min-device-width: 800px) { // TODO
    .header-bar .right-section .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 111) and (min-device-width: 800px) { // TODO
    .header-bar .right-section .full-link {
        display: none;
    }
}

.header-bar .hamburger, .header-bar .header-content, .header-bar .left-section, .header-bar .right-section, .header-bar .full-link {
    transition: all 1s ease;
}

@media (min-device-width: 300px) {
    .header-bar.hamburger-open {
        .hamburger-opacity: 0.3;
        .hamburger-flex: 0.5;
        .hamburger-height: 24px;
        .hamburger-width: 40px;
    }
    .header-bar.hamburger-open .header-content {
        flex-direction: column;
        padding-top: 0;
    }
    .header-bar.hamburger-open .left-section {
        display: none;
        flex: 0;
    }
    .header-bar.hamburger-open .right-section {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        flex: 1;
        margin-top: 10px;
    }
    .header-bar.hamburger-open .right-section .flex-link {
        display: flex;
        margin: 10px 0;
    }
    .header-bar.hamburger-open .right-section .flex-link a {
        margin-right: 0;
    }
}

.header-bar a {
    font-size: 200%;
    margin-right: 15px;
}

.header-bar a:link, .header-bar a:visited {
    color: white;
}

.header-bar a:hover {
    color: 'blue'; // TODO
    text-decoration: none;
}

.header-spacer {
    height: 100px; // TODO
}