%form{ ng_submit: 'createOrUpdate()'} 

  %label Post Title
  %input{ type: 'text', ng_model: 'mainPost.name', placeholder: 'New Post'}

  %label Post content
  %textarea#content{ rows: 15, style: 'width:100%', ng_model: 'mainPost.content' }

  .actions.btn-group
    %input{ type: 'submit' }