%ul.blog_links
	- @posts.each do |post|
		%h2
			= link_to post.name, post
			%small= post.created_at.strftime("%b %d, %Y")  
			= link_to "EDIT", edit_post_path(post), class: "red" if current_user
			= link_to "DELETE", post, method: :delete, data: { confirm: '100% sure?' }, class: "blue" if current_user