.row.container.sixteen.columns{ ng_init: 'init()', ng_cloak: true }
	.six.columns.right-bar.med-and-up.sidebar
		= render 'sidebar'

	.nine.columns.blog_list.med-and-up.blog-content{ ng_if: 'mainPost' }
		%h1.squeeze.small-buffer-top
			{{ mainPost.name }}
			%small ({{mainPost.created_at | date:'shortDate' }})
		
		.markdown.markdown-container{ markdown: '{{mainPost.content}}' }
		.example{ render_html: '{{mainPost.example}}' }

	.mobile-only.mobile-section
		.sixteen.columns
			.blog_list.blog-content{ ng_if: 'mainPost' }
			%h1.squeeze.small-buffer-top{ style: 'font-size: 200%; margin-bottom: 50px'}
				{{ mainPost.name }}
				%small ({{mainPost.created_at | date:'shortDate' }})

			.markdown.markdown-container.mobile-markdown{ markdown: '{{mainPost.content}}' }
			.example{ render_html: '{{mainPost.example}}' }

		%br
		.bottom-sidebar= render 'sidebar'