.container.posts-show{ ng_init: 'init()', ng_cloak: true }
	.sidebar.hide-medium
		= render 'sidebar'

	.content-section{ ng_if: 'mainPost' }
		%h1.small-buffer-top
			{{ mainPost.name }}
			%small ({{mainPost.created_at | date:'shortDate' }})

		.markdown.markdown-container{ markdown: '{{mainPost.content}}' }
		.example{ render_html: '{{mainPost.example}}' }

.show-medium.light-gray-bg{ style: 'margin-top:20px;padding-top:10px' }
	.container
		= render 'sidebar'
