.row.container.sixteen.columns{ ng_controller: 'PostCtrl', ng_init: 'init()', ng_cloak: true }
	.six.columns.right-bar.med-and-up.sidebar
		= render 'sidebar'

	.nine.columns.mobile-only.blog_list#blog_content{ ng_if: 'mainPost' }
		%h1.squeeze.small-buffer-top
			{{ mainPost.name }}
			%small ({{mainPost.created_at | date:'shortDate' }})
		
		.markdown{ markdown: '{{mainPost.content}}' }
		.example{ render_html: '{{mainPost.example}}' }
.sixteen.columns.mobile-only.bottom-sidebar
	= render 'sidebar'