.row.container.sixteen.columns{ ng_init: 'init()', ng_cloak: true }
	.six.columns.right-bar.med-and-up
		= render 'sidebar'

	.nine.columns.mobile-only.blog_list#blog_content
		%h1.squeeze
			{{ mainPost.name }}
			%small ({{mainPost.created_at | date:'shortDate' }})
		
		.markdown{ markdown: '{{mainPost.content}}' }

.sixteen.columns.mobile-only.bottom-sidebar
	= render 'sidebar'