%h1 Recent Posts

%ul.blog-sidebar.link-list
  %li{ ng_repeat: 'post in postList | limitTo:postLimit' }
    %span{ ng_href: '{{postShowPath(post)}}' }
      {{ post.name }}
      %small {{ post.created_at | date:'mediumDate' }}

.centerify
  %h6 ---
  %h5 Showing {{postLimit}} most recent.
  %h5.blue-links
    See
    %a{ ng_href: '{{postArchivePath}}' }archive
    for more.

%br

.prevnext
  .prev-post{ ng_hide: '!previousPost' }
    %a{ ng_href: '{{ postShowPath(previousPost) }}' } << PREV
  .next-post{ ng_hide: '!nextPost' }
    %a{ ng_href: '{{ postShowPath(nextPost) }}' }NEXT >>
%br
.prevnext.admin{ ng_show: 'userSignedIn()' }
  %a{ ng_href: "{{ postEditPath(mainPost) }}" } EDIT
  %a{ ng_href: '{{ newPostPath }}' } NEW
