<div class="centerify archive">
  <h1 class="squeeze">The Archives</h1>

  <%= form_tag '/archive', method: 'get', id: "posts_search", class: "search_form squeeze form-inline" do %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Search", name: nil, class: "btn squeeze search" %>
		  </p>
		  <div id="list"><%= render 'search' %></div>
	<% end %>

</div>