@mixin no-border
  background: transparent !important
  border-radius: 0 !important
  border: none !important
  border-color: transparent !important
  box-shadow: none !important

.panel-group
  margin-bottom: 15px
.panel, .collapse-title
  margin-bottom: 10px
.panel
  +no-border
  .panel-heading
    +no-border
    padding: 0
    .panel-title
      .collapse-title
  .panel-collapse
    +no-border
    .panel-body
      padding-bottom: 0px
      padding-top: 0px
      +no-border
      p
        margin-bottom: 0px
  .role-subtitle
    margin-bottom: 10px
    text-decoration: underline