<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4><strong>Name:</strong> <%= @name %></h4>
    <h4><strong>Email:</strong> <%= @address %></h4>
    <p><strong>Contents:</strong> <%= @content %></p>
  </body>
</html>