!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8"}

  %body
    %h4
      %strong Name:
      = @name
    %h4
      %strong Email:
      = @address
    %p 
      %strong Contents:
      = @content