@import "bootstrap";


/* color variables */

$lightGray: #e7e8e8;
$linkRed: #88290f;
$linkHover: #a43112;
$heavyGray: #383838;
$grayMediumLight: #eaeaea;
$skyBlue: #3D5C99;
$lightNavy: #0029A3;
$navy: #001452;
$jeanBlue: #446588;
$softBrown: #884544;
$bgTeal: #cfe4e7;
$innerGray: #4a6068;
$textGray: #dbe5e7;

$blue_link: #1e3c89;
$blue_hover: #0a679c;


/* layout basics */

body {
	font-family: helvetica, sans-serif;
	font-size: 15px;
}
.sky {
  padding-top:70px;
  background-color: $bgTeal;
  background-image: url('sky.png');
  background-position:center top;
  background-repeat:repeat-x;
}

.inner {
  width: 70%;
  margin: auto;
  background-color: $innerGray;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.bubble {
  background-color: $textGray;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 35px;
  margin-bottom: 45px;
  padding: 10px;
  a:hover { color: $linkHover }
  a { font-weight: bold; }
}

#header_bubble {
  background-color: $textGray;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 35px;
  margin-bottom: 45px;
  a:hover { color: $linkHover }
  a { font-weight: bold; }
}

.banded {
  border: 1px solid #75726c;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
}

.dirt {
  padding-top: 50px;
  background-position: center bottom;
  padding-bottom: 60px;
  background-color: $bgTeal;
  background-image: url('dirt.png');
  background-repeat:repeat-x;
}


/* general typography */

p, ol, li, a, td, ul, h1, h2, h3, h4, h5, h6, label {
  font-family: american typewriter;
  line-height: 1;
  font-size: 15px;
  text-align: left;
}


/* typography specifics */

a {
  color: $linkRed;
  a:link, a:active, a:visited {
    color: $linkRed;
  }
  a:hover {
    color: $linkHover;
    background:transparent;
    text-decoration:underline;
  }
}

.blue_links {
  a {
    color: $blue_link;
    &:hover {
      color: $blue_hover;
    }
  }
}

.black_links {
  a {
    color: $black;
    &:hover {
      color: $innerGray;
    }
  }
}

p {
  font-size: 1.05em;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  line-height: 1.7em;
}

.normalize {
  text-align: left;
  font-size: 100%;
  font-color: #000;
  line-height: 1em;
}
.inset {
  margin-left: 8px;
}


/* footer and header */
.navbars {
  color: $grayLight;
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
  img {
    vertical-align:middle;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
  }
  a:link, a:visited {
    font-size: 200%;
    font-weight: bold;
    color: $linkRed;
    margin-right: 15px;
  }
  a:hover {
    color: $linkHover;
    text-decoration: underline;
  }
  a:active{
    color: $linkHover;
  }
}


/* prettified error messages */

#error_exp {
  color:#B94A48;
  font-family:calibri, verdana, 'trebuchet ms';
  font-size:100%;
  background-color:#fff;
}

.gray_botton {
  padding: 6px 6px;
  color:#333;
  font-family:calibri, verdana, 'trebuchet ms';
  font-size:100%;
  border: 1px solid #ddd;
  text-shadow: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color:#eee;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
    li {
      font-size: 120%;
      color: #A00000;
    }
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

.alert .close {
position: relative;
top: -2px;
color: #FF0000;
right: -21px;
text-align: center;
line-height: 20px;
}

button.close {
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
-webkit-appearance: none;
}


/* misc formatting & tricks */

.piglet {
  img {
    margin-bottom: -5px;
    margin-top: -10px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.float-right {
  float: right;
  margin: 0;
}

.float-over {
  color: $grayMediumLight;
  opacity: 0.6;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  } 
}

.text-area {
  textarea {
    width: 90%;
    padding-right: 15px;
  }
}
.smaller_font {
  font-size: 0.6em;
}

.skillz {
  text-align: center;
  table {
    margin: auto;
  }
  font-size: 115%;
  font-weight: bold;
  td {
    width: 50 px;
    text-align: right;
  }
  img {
    margin-right: 18px;
    margin-left: 4px;
    margin-bottom: 5px;
  }
}

.squeeze {
  margin-bottom: 0px;
  margin-top: 15px;
}


/* photo placement */

.port_photo {
  border: 5px solid;
}

.right_photo {
  position: relative;
  margin-right: 70px;
  margin-left: 30px;
  margin-bottom: 15px;
  // margin-top: 15px;
  float: right;
}

.left_photo {
  position: relative;
  margin-left: 40px;
  margin-top: 20 px;
  float: left;
}

#headshot {
  margin-right: 50px;
  margin-left: 15px;
}