@mixin mixed-link-base
  margin-bottom: 0
  font-family: Gotham-Bold
  cursor: pointer
  color: black
  small
    color: $electricBlue
  span.icon
    display: inline-block
    margin-right: 5px
    i.fa
      vertical-align: text-bottom
      font-size: 1.8em
  i
    color: $lightPink

@mixin mixed-link
  +mixed-link-base
  .fa
    color: $lightPink
    font-size: 17px
    vertical-align: text-top
  a
    span
      color: black
      font-weight: normal
      font-family: Gotham-Bold
  &:hover
    color: darken( $electricBlue, 22 )
    small strong
      color: darken( $electricBlue, 10 )
    i
      color: $darkPink
    a
      color: $darkPink

@mixin mixed-colored-link
  +mixed-link-base
  color: $maroon
  small
    color: $electricBlue
  &:hover
    color: $darkPink
    small
      color: $lightBlue

