.markdown-container
  width: 100%
  p, li
    font-size: 16px
    line-height: 1.5
  +monokai-syntax-highlight
  blockquote
    margin: 20px 0
    border-left: 4px solid #777
    padding: 5px 20px
    background-color: #fdfdfd
    font-style: italic
    &:hover
      border-left: 4px solid $lightPink
      background-color: lighten($lightPink, 20)
  li
    list-style: initial
    font-family: 'Gotham-Light'
    &:not(:first-child)
      margin-top: 10px
  code
    background-color: transparent
    font-weight: bold
    font-family: monospace
    color: #333
  .codebox
    margin: 20px 0
  img
    border: 5px solid black
    margin: 20px 0
    width: 100%
    &:hover
      width: 200%
      margin-left: -80%
  h2, h3, h5
    margin-bottom: 10px
    margin-top: 30px

  h4
    margin-top: 20px
    margin-bottom: -15px
    padding: 3px 0
    z-index: 99
    font-weight: bold

  p
    code
      font-weight: lighter
      font-size: 16px

  pre
    border-top: none
    +border-radius(3px)
    background-color: #171717
    margin: 20px 0
    white-space: pre
    overflow: scroll
    word-wrap: normal
    font-size: 16px
    max-width: 600px
    code
      white-space: pre
      overflow-x: scroll
      word-wrap: normal
      background-color: #171717
      display: block
      line-height: 1.5
      span
        font-size: 100%

  a:hover
    color: $lightPink !important