.markdown
  width: 120%
  +monokai-syntax-highlight
  font-size: 105%
  blockquote
    border-left: 4px solid #777
    padding-top: 0
  li
    list-style: initial
    margin-left: 20px
    font-size: 100%
  code
    background-color: transparent
    font-weight: bold
    font-family: monospace
    color: #333
  .codebox
    margin: 20px 0
  h4
    margin: 20px 0 -5px 0
    +border-top-radius(3px)
    background-color: lighten($codebox, 8)
    padding: 3px 0 0 10px
    z-index: 99
    font-weight: bold
    code
      background-color: lighten($codebox, 8)
      color: black
  pre
    border-top: none
    +border-radius(3px)
    background-color: lighten($codebox, 8)
    margin-bottom: 20px
    padding: 10px
    white-space: pre
    overflow: scroll
    word-wrap: normal
    code
      padding: 0.75em
      white-space: pre
      overflow-x: scroll
      word-wrap: normal
      background-color: lighten(#333, 2)
      font-family: 'Rockwell'
      display: block
      line-height: 1.5
      font-weight: bold
      span
        font-size: 100%
  a:hover
    color: $pigPink !important