<div class="navbars">
	<div class="smaller_font" style="text-align:center">
		<%= link_to image_tag('github.png') + "github", 'https://www.github.com/sashafklein' %>
		<%= link_to image_tag('odesk.png') + "oDesk", 'https://www.odesk.com/users/~01e74747c979a7bfd6' %>
	</div>
</div>
