
<div class="footer">
  	  <div class="footer_social" style="float:left; text-align:left">
				<%= link_to image_tag('github.png') + "Github", 'https://www.github.com/sashafklein' %><br>
				<%= link_to image_tag('odesk.png') + "ODesk", 'https://www.odesk.com/users/~01e74747c979a7bfd6' %><br>
	 		</div>
  	<div class="footer_links" style="float:right; text-align:right;">
		A <a href="#">Brothers Klein</a> Project<br>
		® 2012 MeatUp | All Rights Reserved<br>
		
	 </div>
</div>