<div class="piglet navbars">
			<%= link_to image_tag('pig2.png') + "about", root_path %>
    <div class="float-right">
      <%= link_to "resume", resume_path %>  
      <%= link_to "portfolio", portfolio_path %> 
      <%= link_to "email", new_email_path %>
    </div>
  
</div>