<header class="topbar navbar-fixed-top">
</header>
  <div class="topnav">
      <nav>
        <ul class="nav pull-left" style="margin:0px;">
           <%= link_to "about", root_path, :id => "header_logo" %>
        </ul>
      </nav>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "resume", "#resume"%></li>
          <li><%= link_to "portfolio", "#portfolio"%></li>
          <li><%= link_to "email", "#email"%></li>
        </ul>
      </nav>
  </div>
