<div class="piglet navbars">
	<div class="container">
			<%= link_to image_tag('pig2.png') + "SASHA KLEIN", root_path %>
				<p style="color:#ffcece;display:inline-block">FREELANCE DEVELOPER</p>
    <div class="float-right">
      <%= link_to "RESUME", resume_path %>  
      <%= link_to "PORTFOLIO", portfolio_path %> 
      <%= link_to "EMAIL", new_email_path %>
    </div>
   </div>
  
</div>