.piglet.navbars
  .container
    = link_to image_tag('pig3.png') + "SASHA KLEIN", root_path
    %p{:style => "color:#ffcece;display:inline-block;"} FREELANCE DEVELOPER
    .float-right
      = link_to "PORTFOLIO", portfolio_path
      = link_to "DEVLOG", devlog_path
      = link_to image_tag('sign_out.png'), logout_path, class: "logout" if current_user