.sixteen.columns.mobile-only.mobile-footer
  - if current_user
    = link_to "", wikis_path, class: "icon-file"
    = link_to "", logout_path, class: "icon-circle-blank"
  = link_to '', 'https://www.github.com/sashafklein', class: 'icon-github'
  = link_to "", '/contact', class: 'icon-envelope-alt'